{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <h1>{{ article.titre }}</h1>
    <p>Publié le {{ article.createdAt|date('d/m/Y à h\\hi') }} </p>
    <p>
        {% for categorie in article.categories %}
            {{ categorie.nom }}
        {% endfor %}
    </p>
    <p>
        <img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article') }}" alt="{{ article.titre }}">
    </p>

    <div>{{ article.contenu|raw }}</div>
    <h2>{% trans %}Comments{% endtrans %} ({{ article.commentaires|length }})</h2>
    {% for commentaire in article.commentaires %}
        <p>{% trans %}Published by{% endtrans %} {{commentaire.pseudo }}</p>
        <div>{{ commentaire.contenu }}</div>
    {% else %}
        <p>{% trans %}There's no comment yet{% endtrans %}</p>
    {% endfor %}
    <h2>Ajouter un commentaire</h2>
    {{ form(commentForm) }}
    
{% endblock %}