{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <p>Ici sera la liste des articles</p>
    {% for article in articles %}
        <h1><a href="{{ path('article', {"slug": article.slug}) }}">{{ article.titre }}</a></h1>
        <p>Publié le {{ article.createdAt|date('d/m/Y à h\\hi') }} </p>
        <p>
            {% for categorie in article.categories %}
                {{ categorie.nom }}
            {% endfor %}
        </p>
        <p>
            <img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('echelle') }}" alt="{{ article.titre }}">
        </p>
        <div>{{ article.contenu|raw }}</div>
    {% endfor %}
{% endblock %}
